In [10]:
import pandas as pd

# Load data set to pandas data frame
melbourne_data = pd.read_csv('data_sets/melb_data.csv')

# Print summary of data in the melbourne_data DataFrame
melbourne_data.describe()

# Show the column headers in the data set
melbourne_data.columns

# Drop missing values from the dataset
melbourne_data = melbourne_data.dropna(axis=0)

# y is the prediction target : i.e the column we want to predict
y = melbourne_data.Price

# Choose features used (the columns used to predict the prediction target from the model)
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

x = melbourne_data[melbourne_features]
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [19]:
# Building the actual ML model

# Steps : Define the model, type, and parameters 
# Fit / Capture some patters from the provided data
# Predict the prediction target
# Evaluation / Determine the models accurateness.

from sklearn.tree import DecisionTreeRegressor

melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(x, y)

print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]