In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [70]:
df = pd.read_json('../data_sets/recipie.json')
df

         id                                        ingredients
0     18009  [baking powder, eggs, all-purpose flour, raisi...
1     28583  [sugar, egg yolks, corn starch, cream of tarta...
2     41580  [sausage links, fennel bulb, fronds, olive oil...
3     29752  [meat cuts, file powder, smoked sausage, okra,...
4     35687  [ground black pepper, salt, sausage casings, l...
...     ...                                                ...
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

[9944 rows x 2 columns]

Data Indexing

Using implicit python style indexing

In [71]:
print(df['id'][3])
print(df['ingredients'][55])

29752
['dark soy sauce', 'regular soy sauce', 'bean sauce', 'minced ginger', 'szechwan peppercorns', 'corn starch', 'extra firm tofu', 'dried shiitake mushrooms', 'canola oil', 'sugar', 'green onions', 'medium firm tofu']

Using loc (indexing and slicing that reference explicit index)

In [72]:
print(df.loc[3])
print(df.loc[555])

id                                                         29752
ingredients    [meat cuts, file powder, smoked sausage, okra,...
Name: 3, dtype: object
id                                                         39146
ingredients    [tomatoes, tumeric, ginger, white lentils, red...
Name: 555, dtype: object

Using iloc (python style implicit indexing)

In [73]:
df.iloc[3:5,:]

      id                                        ingredients
3  29752  [meat cuts, file powder, smoked sausage, okra,...
4  35687  [ground black pepper, salt, sausage casings, l...

Missing Value manipulation

In [74]:
df.isna().sum()

id             0
ingredients    0
dtype: int64

In [75]:
df.isnull().sum()

id             0
ingredients    0
dtype: int64

Since the recipie data set has no null values, I will create a pandas data frame with null values to showcase missing value manipulation

In [76]:
df = pd.DataFrame([[1, 2, 3], [np.nan, 55, 44], [99, np.nan, np.nan]])
df

      0     1     2
0   1.0   2.0   3.0
1   NaN  55.0  44.0
2  99.0   NaN   NaN

In [77]:
print(df.isna())
print(df.isnull().sum())

       0      1      2
0  False  False  False
1   True  False  False
2  False   True   True
0    1
1    1
2    1
dtype: int64

Fill missing values with 100

In [78]:
df.fillna(100, inplace=False)

       0      1      2
0    1.0    2.0    3.0
1  100.0   55.0   44.0
2   99.0  100.0  100.0

Filling null values, but value to fill is propogated forward

In [79]:
df.fillna(method='ffill', inplace=False)

      0     1     2
0   1.0   2.0   3.0
1   1.0  55.0  44.0
2  99.0  55.0  44.0

Filling null values but value is back propogated

In [80]:
df.fillna(method='bfill', inplace=False)

      0     1     2
0   1.0   2.0   3.0
1  99.0  55.0  44.0
2  99.0   NaN   NaN

Drop nullvalues

In [81]:
new_df = df.dropna(inplace=False)
new_df

     0    1    2
0  1.0  2.0  3.0

In [82]:
new_df.isnull().sum()

0    0
1    0
2    0
dtype: int64

In [83]:
new_df.isna().sum()

0    0
1    0
2    0
dtype: int64

Concatanation of data frames

In [84]:
np.concatenate([df.loc[0], df.loc[2]])

array([ 1.,  2.,  3., 99., nan, nan])

In [85]:
df = pd.read_json('../data_sets/recipie.json')
np.concatenate([df['id'], df['ingredients']])

array([18009, 28583, 41580, ...,
       list(['black pepper', 'salt', 'parmigiano reggiano cheese', 'ricotta', 'large egg yolks', 'dry bread crumbs', 'genoa salami', 'vegetable oil']),
       list(['cheddar cheese', 'cayenne', 'paprika', 'plum tomatoes', 'green bell pepper', 'water', 'Tabasco Pepper Sauce', 'scallions', 'canned low sodium chicken broth', 'milk', 'butter', 'red bell pepper', 'canned black beans', 'quickcooking grits', 'salt']),
       list(['cold water', 'olive oil', 'lime wedges', 'garlic cloves', 'boiling water', 'boneless chicken skinless thigh', 'guacamole', 'tomato salsa', 'corn tortillas', 'tomatoes', 'radishes', 'queso fresco', 'ancho chile pepper', 'ground cumin', 'white onion', 'yukon gold potatoes', 'cilantro sprigs', 'chipotles in adobo'])],
      dtype=object)

Concatonation using Pandas::Concat

In [87]:
pd.concat([df['id'], df['ingredients']])

0                                                   18009
1                                                   28583
2                                                   41580
3                                                   29752
4                                                   35687
                              ...
9939    [large egg yolks, fresh lemon juice, sugar, bo...
9940    [hot sauce, butter, sweet potatoes, adobo sauc...
9941    [black pepper, salt, parmigiano reggiano chees...
9942    [cheddar cheese, cayenne, paprika, plum tomato...
9943    [cold water, olive oil, lime wedges, garlic cl...
Length: 19888, dtype: object

Appending

In [89]:
df.append(df['id'].T)

C:\Users\Tarun\AppData\Local\Temp\ipykernel_4452\2148071487.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df['id'].T)

,id,ingredients,0,1,2,3,4,5,6,7,...,9934,9935,9936,9937,9938,9939,9940,9941,9942,9943
0,18009.0,"[baking powder, eggs, all-purpose flour, raisi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28583.0,"[sugar, egg yolks, corn starch, cream of tarta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41580.0,"[sausage links, fennel bulb, fronds, olive oil...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29752.0,"[meat cuts, file powder, smoked sausage, okra,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35687.0,"[ground black pepper, salt, sausage casings, l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9940,36028.0,"[hot sauce, butter, sweet potatoes, adobo sauc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9941,22339.0,"[black pepper, salt, parmigiano reggiano chees...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9942,42525.0,"[cheddar cheese, cayenne, paprika, plum tomato...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9943,1443.0,"[cold water, olive oil, lime wedges, garlic cl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id,NaN,NaN,18009.0,28583.0,41580.0,29752.0,35687.0,38527.0,19666.0,41217.0,...,36612.0,14008.0,32124.0,43570.0,14059.0,30246.0,36028.0,22339.0,42525.0,1443.0

Merge and Joins

Merge

In [164]:
df['ingredients'] = tuple(df['ingredients'])
new_df = df

for i in range(len(new_df['id'])):
    new_df['ingredients'][i] = 'None'


new_df

C:\Users\Tarun\AppData\Local\Temp\ipykernel_4452\2390873084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['ingredients'][i] = 'None'

        id ingredients
0        0        None
1        1        None
2        2        None
3        3        None
4        4        None
...    ...         ...
9939  9939        None
9940  9940        None
9941  9941        None
9942  9942        None
9943  9943        None

[9944 rows x 2 columns]

In [117]:
large_df = pd.merge(df, new_df)
large_df

        id ingredients
0        0        None
1        1        None
2        2        None
3        3        None
4        4        None
...    ...         ...
9939  9939        None
9940  9940        None
9941  9941        None
9942  9942        None
9943  9943        None

[9944 rows x 2 columns]

Specifiying merging basis explicity using the how keyword
(inner join, outer join)

In [119]:
large_df = pd.merge(df, new_df, how='inner')
large_df

        id ingredients
0        0        None
1        1        None
2        2        None
3        3        None
4        4        None
...    ...         ...
9939  9939        None
9940  9940        None
9941  9941        None
9942  9942        None
9943  9943        None

[9944 rows x 2 columns]

In [121]:
large_df = pd.merge(new_df, df, how='outer')
large_df

        id ingredients
0        0        None
1        1        None
2        2        None
3        3        None
4        4        None
...    ...         ...
9939  9939        None
9940  9940        None
9941  9941        None
9942  9942        None
9943  9943        None

[9944 rows x 2 columns]

Aggregation and Grouping

Simple aggregation

In [122]:
df['id'].sum()

49436596

Group by : Split

In [135]:
df.groupby('id')

Transform

In [137]:
df['id']

0          0
1          1
2          2
3          3
4          4
        ...
9939    9939
9940    9940
9941    9941
9942    9942
9943    9943
Name: id, Length: 9944, dtype: int64

In [153]:
df['id'] = np.int16(df['id'])

df.groupby('ingredients').transform(lambda x : x *2)

         id
0         0
1         2
2         4
3         6
4         8
...     ...
9939  19878
9940  19880
9941  19882
9942  19884
9943  19886

[9944 rows x 1 columns]

The Apply method

In [154]:
def div_by_two(x):
    x['id'] = x['id'] / 2
    return x

df.groupby('ingredients').apply(div_by_two)

C:\Users\Tarun\AppData\Local\Temp\ipykernel_4452\1030546278.py:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df.groupby('ingredients').apply(div_by_two)

          id ingredients
0        0.0        None
1        0.5        None
2        1.0        None
3        1.5        None
4        2.0        None
...      ...         ...
9939  4969.5        None
9940  4970.0        None
9941  4970.5        None
9942  4971.0        None
9943  4971.5        None

[9944 rows x 2 columns]

Pivot Tables

In [157]:
df.pivot_table('id', index='id')

C:\Users\Tarun\AppData\Local\Temp\ipykernel_4452\3142991446.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.pivot_table('id', index='id')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[9944 rows x 0 columns]

Multi Levle Pivot Tables

In [158]:
df.pivot_table('id', ['id', 'ingredients'])

Empty DataFrame
Columns: []
Index: [(0, None), (1, None), (2, None), (3, None), (4, None), (5, None), (6, None), (7, None), (8, None), (9, None), (10, None), (11, None), (12, None), (13, None), (14, None), (15, None), (16, None), (17, None), (18, None), (19, None), (20, None), (21, None), (22, None), (23, None), (24, None), (25, None), (26, None), (27, None), (28, None), (29, None), (30, None), (31, None), (32, None), (33, None), (34, None), (35, None), (36, None), (37, None), (38, None), (39, None), (40, None), (41, None), (42, None), (43, None), (44, None), (45, None), (46, None), (47, None), (48, None), (49, None), (50, None), (51, None), (52, None), (53, None), (54, None), (55, None), (56, None), (57, None), (58, None), (59, None), (60, None), (61, None), (62, None), (63, None), (64, None), (65, None), (66, None), (67, None), (68, None), (69, None), (70, None), (71, None), (72, None), (73, None), (74, None), (75, None), (76, None), (77, None), (78, None), (79, None), (80, None), (81, None), (82, None), (83, None), (84, None), (85, None), (86, None), (87, None), (88, None), (89, None), (90, None), (91, None), (92, None), (93, None), (94, None), (95, None), (96, None), (97, None), (98, None), (99, None), ...]

[9944 rows x 0 columns]